asgiref
Django
django-braces
django-filter
django-model-utils
django-star-ratings
django-widget-tweaks
djangorestframework
djangorestframework-datatables
Pillow
psycopg2
pytz
six
sqlparse
swapper
pyexcel_xls
pyexcel_xlsx
