{% extends 'accounts/base.html' %}

{% block content %}
    {% for message in messages %}
        <p id='messages'><i class="fas fa-check-circle" style="font-size:24px;color:green"></i> {{ message }}</p>
    {% endfor %}
    <a class="btn btn-primary mb-3" href="{% url 'create_contact' lead.id %}">Add contact</a> 
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Contacts</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Designation</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.designation }}</td>
                            <td><a href="/lead_detail/{{lead.id}}/contacts/update/{{contact.id}}/" class="btn btn-primary btn-sm">Update</a></td>
                            <td><a href="/lead_detail/{{lead.id}}/contacts/delete/{{contact.id}}/" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}