{% extends 'accounts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer Feedbacks</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Product</th>
                        <th>Feedback</th>
                        <th>Rate</th>
                    </tr>
                    {% for customer_feedback in customer_feedbacks %}
                        <tr>
                            <td>{{ customer_feedback.name }}</td>
                            <td>{{ customer_feedback.email }}</td>
                            <td>{{ customer_feedback.phone }}</td>
                            <td>{% for product in customer_feedback.product.all %}{{ product }} {% endfor %}</td>
                            <td>{{ customer_feedback.feedback }}</td>
                            <td>{{ customer_feedback.rate }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Intrested customers</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Product</th>
                    </tr>
                    {% for customer in intrested_customer %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{% for product in customer.product.all %}{{ product }} {% endfor %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Intrested customers</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Product</th>
                        <th>Employee</th>
                        <th>Message</th>
                    </tr>
                    {% for complaint in customer_complaint %}
                        <tr>
                            <td>{{ complaint.name }}</td>
                            <td>{{ complaint.email }}</td>
                            <td>{{ complaint.phone }}</td>
                            <td>{% for product in complaint.product.all %}{{ product }} {% endfor %}</td>
                            <td>{% for employee in complaint.employee.all %}{{ employee }} {% endfor %}</td>
                            <td>{{ complaint.message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock content %}