{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 15px;" class="buttons">
        <a href="{% url 'calls' lead.id %}"  style="height:40px; display: inline-flex; align-items: center; gap: 5px;" class="btn btn-primary btn-sm"><ion-icon name="call-outline" style="font-size: 25px;"></ion-icon>Calls</a>
        <a href="{% url 'contacts' lead.id %}"  style="height:40px; display: inline-flex; align-items: center; gap: 5px;" class="btn btn-info btn-sm"><ion-icon name="people-outline" style="font-size: 25px;"></ion-icon>Contacts</a>
    </div>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Lead Information
                    {% if lead.success %}
                        <span style='color: white; background-color: green; padding: 5px; border-radius: 5px'>Success Lead</span>
                    {% else %}
                        <a href="{% url 'convert_lead' lead.id %}" style="margin-left: 10px"
                        class="btn btn-outline-success btn-sm">Convert to Opportunity</a>
                    {% endif %}   
                </h5>
                <hr>
                <p>Name: {{ contact.name }}</p>
                <p>Phone: {{ contact.phone }}</p>
                <p>Email: {{ contact.email }}</p>
                <p>Address: {{ contact.phone }}</p>
                <p>Status: {{ lead.status }}</p>
                <p>Status: {{ lead.source }}</p>
            </div>
        </div>
    </div>
</div>
    {% comment %} <div class="col-md">
        <div class="card card-body">
            <h5>Total orders</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px;">{{ order_count }}</h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="GET">
                {{ my_filter.form }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td> {{ order.product }}</td>
                    <td> {{ order.date_created }} </td>
                    <td> {{ order.status }} </td>
                    <td> <a href="{% url 'delete_order' order.id %}" class="btn btn-danger btn-sm">Remove</a> </td>
                    <td> <a href="{% url 'update_order' order.id %}" class="btn btn-primary btn-sm">Update</a> </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div> 
</div>{% endcomment %}
{% endblock content %}