{% extends 'accounts/base.html' %}{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card card-body" style="box-shadow: 0px 0px 15px 0px skyblue">
            <h3 style="text-align: center; margin-bottom: 36px; margin-top: 25px;">Send Email</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                {% comment %} {{ form.as_p }} {% endcomment %}
                <span style="margin-right: 30px; margin-left: 110px;">Subject: </span>{% render_field form.subject class="input-box-email" %} <br>
                <span style="margin-right: 30px; margin-left: 101px;">Message: </span>{% render_field form.message class="input-box-email" %} <br>
                <span style="margin-right: 30px; margin-left: 110px;">Image: </span>{% render_field form.img class="input-box-email" %} <br>
                {{ form.errors }}                        
                <input class='btn btn-primary btn-primary-crm' style="margin-left: 413px; margin-top: 35px;" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}