{% extends 'accounts/base.html' %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

{% endblock head %}

{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'create_lead' %}">Add Lead</a>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Leads</h5>
            <hr>
             
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="leads" class="table table-striped table-bordered" style="width:100%" data-server-side="true"
                data-ajax="api/leads/?format=datatables">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Lead Name</th>
                        <th>Assigned To</th>
                        <th>Source</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> 
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

<script>
    var table = undefined;
    $(document).ready(function () {
        table = $('#leads').DataTable({
            dom: "<'row'<'col-md-4'l><'col-md-4'B><'col-md-4'f>>" +
                "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'All Products Details',
                    text:'Excel',
                    exportOptions: {
                     columns: [0, 1, 2, 3, 4, 5, 6, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'All Products Details',
                    text: 'PDF',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 8]
                       }
                }
            ],
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'All Leads Details',
                    text:'Excel',
                    exportOptions: {
                     columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'All Leads Details',
                    text: 'PDF',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                       }
                }
            ],
            columns: [
                { data: 'id' },
                { data: 'contact', name: 'contact.name' },
                { data: 'employee', name: 'employee.name' },
                { data: 'source' },
                { data: 'status' },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        let edit_button = `<a href="/update_lead/${data}" class="btn btn-primary btn-sm">Update</a>`;
                        let delete_button = ` <a href="/delete_lead/${data}" class="btn btn-danger btn-sm">Delete</a>`;
                        return edit_button + delete_button;
                    }
                }
            ]
        });
    });
</script>


{% endblock content %}