{% extends 'accounts/base.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card card-body lead-form-card">
                <h4>Add Lead</h4>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Contact Info</h3>
                            {{contact_form.name.label}}: {% render_field contact_form.name class="input-box" %} <br> {{contact_form.phone.label}}: {% render_field contact_form.phone class="input-box" %} <br>
                            <!-- {{contact_form.email.label}}: {% render_field contact_form.email class="input-box" %} <br> -->
                            {{contact_form.email.label}}: {{ contact_form.email | add_class:"input-box" }} <br> {{contact_form.address.label}}: {% render_field contact_form.address class="input-box" %}
                            <!-- {{ contact_form.as_p }} -->
                        </div>
                        <div class="col-sm-6">
                            <h3>Lead info</h3>
                            {{ lead_form.as_p }}
                        </div>
                    </div>
                    <input class='btn btn-primary' type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}