{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
    {% for message in messages %}
    <p id='messages' style="height:40px; display: flex; align-items: center; gap: 5px;"><ion-icon name="checkmark-outline" style="font-size: 25px;"></ion-icon></i> {{ message }}</p>
    {% endfor %}

    <a class="btn btn-success mb-3" style="height:40px; display: inline-flex; align-items: center; gap: 5px;" href="{% url 'success_leads' 'opportunities' %}"><ion-icon name="checkmark-circle-outline" style="font-size: 25px;"></ion-icon><span>  Success Leads</span></a>
    <a class="btn btn-danger mb-3" style="height:40px; display: inline-flex; align-items: center; gap: 5px;" href="{% url 'leads_recycle_bin' 'opportunities' %}"><ion-icon name="trash-outline" style="font-size: 23px;"></ion-icon>Recycle Bin</a>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                 <div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
                    <div class="card-body" style="text-align: center; padding-bottom: 10px;">
                        <h4>OPPORTUNITY
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Source</th>
                        <th>Employee</th>
                        <th>Status</th>
                        <th>Convert</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for opportunity in opportunities %}
                        <tr>
                            <td>{{ opportunity.company }}</td>
                            <td>{{ opportunity.source }}</td>
                            <td>{{ opportunity.employee }}</td>
                            <td>{{ opportunity.status }}</td>
                            <td><a href="{% url 'lead_detail' opportunity.id %}" class="btn btn-info btn-sm">View</a></td>
                            <td><a href="{% url 'update_lead' opportunity.id %}" class="btn btn-primary btn-sm">Update</a></td>
                            <td><a href="{% url 'delete_opportunity' opportunity.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}