{% load static %}{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/utility.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base5.css' %}">

</head>

<body>
    <div class="container-fluid h-100" style="padding: 84px!important;">
        <div class="row" style="box-shadow: 0px 0px 14px 4px black;">
            <div class="col-sm-4"
                style="background-color: white;border-left: 10px solid #ffbc00; border-top: 10px solid #ffbc00;">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card">
                        <div class="d-flex justify-content-center flex-column"
                            style="margin-top: 50px; align-items: center;">
                            <img src="{% static 'images/user-img.jpg'%}" style="height: 100px; width: 100px"
                                class="user-img" alt="user-img">
                            <h3 id="form-title"
                                style="margin-top: 10px; background-color: #412896; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">
                                Enter new password</h3>
                        </div>
                        <div class="" style=" display: flex; flex-direction: column; align-items: center;">

                            <p style="font-size: larger; margin-bottom: 20px; text-align: center;">Please enter your new password twice so we can verify you typed it in correctly.</p>
                             
                            <form method="post" style="margin-left: 90px;">
                                {% csrf_token %}
                                {% render_field form.new_password1 class="input-box-email" placeholder="New password" %}
                                {% render_field form.new_password2 class="input-box-email" placeholder="Re-enter password" %}<br>
                                <input type="Submit" name="Update Password" class="btn-primary-crm"
                                    style="margin-left: 30px; margin-top: 10px;" id="email_submit_btn">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="padding:0px!important;">
                <img src="{% static 'images/banner-crm32.jpg'%}" style="width: 875px;" class="banner-crm-img"
                    alt="banner-crm">
            </div>
        </div>
    </div>
</body>

</html>
