<div class="row" style="margin: 10px;">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb3" id="total-orders" style="background-color: #12192c8c;">
                <div class="card-header">
                    <div class="card-title">Total Leads</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_leads }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb3" id="orders-delivered" style="background-color: #12192cd4;">
                <div class="card-header">
                    <div class="card-title">Total Opportunities</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_opportunities }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb3" id="orders-pending" style="background-color:#12192C;">
                <div class="card-header">
                    <div class="card-title">Total Customers</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_customers }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>