{% extends 'accounts/base.html' %}

{% block content %}
    {% comment %} <a class="btn btn-primary mb-3" href="{% url 'create_user' %}">Add user</a> {% endcomment %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Users</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                        {% comment %} <th>Update</th>
                        <th>Remove</th> {% endcomment %}
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.employee.phone }}</td>
                            <td> 
                            {% if user.groups.exists %}
                            <a href="{% url 'delete-employee' user.id %}" class="btn btn-danger btn-sm">Remove Employee</a>
                            {% else %}
                            <a href="{% url 'add-employee' user.id %}" class="btn btn-primary btn-sm">Add Employee</a>
                            {% endif %}
                            </td>
                            {% comment %} <td><a href="{% url 'update_user' user.id %}" class="btn btn-primary btn-sm">Update</a></td> {% endcomment %}
                            {% comment %} <td><a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm">Delete</a></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}